body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.50)), url('../image/background.avif');
}
.main-title {
    text-align: center;
    font-size: 36px;
    margin: 40px 0 20px;
    color: #0c3b84;
  }
  
  .card-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .card-container h2 {
    color: #0c3b84;
  }
  

  .card-container:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .card-container + .card-container {
    margin-top: 40px;
  }  
  
  .solid {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 20px;
    flex: 1;
    min-width: 280px;
  }
