body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f9f9f9; 
    background-image: linear-gradient(rgba(255, 255, 255, 0.50)), url('../image/background.avif');
    text-align: center; 
}
  .hero h1 {
    font-size: 32px;
    font-weight: bold;
    color: #0c3b84;
    margin-top: 20px;
  }
  
  .gallery-section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: left;
  }
  
  .gallery-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #0c3b84;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-snap-type: x mandatory;
  }
  
  .carousel img {
    width: 300px;
    border-radius: 10px;
    scroll-snap-align: start;
    transition: transform 0.3s;
  }
  
  .carousel img:hover {
    transform: scale(1.05);
  }
  
  
  