.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color: black;
	position: absolute;
	left: 0;
	margin-left: 20px;
	margin-top: 20px;
	top: 0;
	
}
.image{
	width: 250px;
	float: left;
	margin-right: 15px;
}
.image img{
	width: 100%;
	height: auto;
}
.content{
	width: 70%;
	margin-left: 150px;
}
.header{
	display: flex;
	align-items: center;
	margin-left: 150px;

}
.head{
	text-align: center;
}